@charset "UTF-8";

body * {
text-align:left;
}
body .body > *:first-child {
margin-top:0;
}
a {
text-decoration:underline;
}
a, a:link, a:visited, .link {
    /* リンク */
}
.italic-link {
    /* リンク内強調 */
}
.caption-link {
    /* キャプション内リンク */
}
.pseudo-link {
    /* リンクのサンプル */
    color: #0000EE;
    text-decoration: underline;
}
.pseudo-link em{
    font-weight: normal;
}
table {
padding:0;
border-collapse:collapse;
border-style:solid;
border-width:1px;
}
table th {
font-weight: normal;
border-style:solid;
border-width:1px;
text-align:left;
padding:0.2em 0.4em;
}
table td {
border-style:solid;
border-width:1px;
padding:0.2em 0.4em;
}
img {
max-width: 100%;
margin: 1em auto;
}
br + em {
    /* 画像のキャプション */
  text-indent: 0;
  margin-top: -1em;
  margin-bottom: 2em;
  display: block;
  padding-top: 0;
  font-style: normal;
  font-size: 90%;
    font-weight: normal;
  line-height: 150%;
}
h1, h2, h3, h4, h5, h6 {
margin-top:2em;
margin-bottom:1em;
padding:0;
font-weight:bold;
}
p {
}
p.last-item {
}
ol {
padding-left:2.4em;
}
ul {
padding-left:1.4em;
}
li {
margin-top:0.4em;
}
blockquote {
border-style:solid;
border-width:0 0 0 2px;
margin-left:1em;
margin-right:auto;
}
blockquote > *:first-child {
margin-top:0;
}
blockquote > *:last-child {
margin-bottom:0;
}
blockquote p {
padding-left: 0.9em;
}
blockquote p > em{
    font-weight: normal;
}
blockquote ul {
margin-left:0.6em;
margin-right:0;
}
.blockquote-regular {
}
br.nobreak + em {
    /* 引用元 */
    font-size: 100%;
    color: #000000;
    display: inline-block;
}
em {
  font-style: normal;
  font-weight: bold;
}
strong {
  font-weight: bold;
}
pre,code {
font-family: monospace,sans-serif;
}
pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
	border-radius: 3px;
	line-height: 1.5;
	padding:0.6em 1em;
  white-space: pre-wrap;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0.6em;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #666;
}

.token.punctuation {
  color: #666;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #9a0101;
}

.token.selector,
.token.attr-name,
.token.string {
  color: #360;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #af5600;
  background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #cc8300;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token.function, .token.constant {
  color: #07a;
}
.token.variable {
  color: #cc8300;
}

.token.deliminator {
  font-weight:bold;
}

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: hsl(24, 20%, 85%);
}

.token.tab:not(:empty):before {
  content: '▸';
}

.token.cr:before {
  content: '␍';
}

.token.lf:before {
  content: '␊';
}
.token a {
  color: inherit;
}

/* 訳注 */
.translator_note {
border-style:solid;
border-width:1px;
margin: 1em auto;
padding:1em 0.9em;
}
.translator_note *:first-child {
margin-top: 0;
}
.translator_note *:last-child {
margin-bottom: 0;
}
.translator_note h2,
.translator_note h3,
.translator_note h4,
.translator_note h5,
.translator_note h6{
font-size: 1em;
font-weight: bold;
margin: 1em 0;
}

/* 目次 */
nav.toc h1{
margin-top: 0;
font-size:1.8em;
}
nav.toc ol{
}
#toc a {
    /* toc.xhtmlのリンク */
}
.toc-highlight {
    /* toc.xhtmlのリンク内のclass */
}

/* ご注意 */
.titleNotice {
font-size:1em;
font-weight:normal;
}


/* コラム */
body .comic {
    margin: 2em;
    padding: 2em;
    border: #666 1px solid;
}


/* 奥付 */
.titleBookMain {
font-size:1.6em;
margin-bottom:0;
}
.titleBookSub {
margin-top:0;
}
.revision {
list-style-type:none;
padding-left:0;
}
.credit dd {
margin-left:1em;
}
